.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #e68f24;
}

.favoriteRecipesImg {
  width: 30%;
}
