.button-profile {
  background-image: url('../images/profileIcon.svg');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.button-search {
  background-image: url('../images/searchIcon.svg');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
